- content_for :head do
  :css
    .TwoColumn tr td:last-child, .TwoColumn tr th:last-child {
      white-space: nowrap;
    }

= render :layout => 'recordings/container' do
  = render :layout => 'forms/header' do
    .tablewrapp
      %table.GralTable.TwoColumn.CleanTable
        %tr
          %th Messages
          %th
        - @strings.each do |str|
          - is_recorded = form.get_recording(str.md5)
          %tr
            %td= str
            %td
              = render 'recordings/toolbar',
                :is_recorded => form.get_recording(str.md5),
                :path => form_recording_path(form, str.md5),
                :download_path => form_recording_path(form, str.md5, :filename => "#{str.underscore}.wav")

