= render :layout => 'recordings/container' do
  = render :layout => 'endpoints/header' do
    = form_for(endpoint) do |f|
      = errors_for endpoint

      %h3 Confirmation message
      %p Message to play to the user after each received input
      = render 'recordings/toolbar',
        :is_recorded => endpoint.get_recording('confirmation_message'),
        :path => endpoint_recording_path(endpoint, 'confirmation_message'),
        :download_path => endpoint_recording_path(endpoint, 'confirmation_message', :filename => 'confirmation_message.wav')
      %br
      %br

      %h3 Error message
      %p Message to play to the user before hangup because the max number of retries was exceeded
      = render 'recordings/toolbar',
        :is_recorded => endpoint.get_recording('error_message'),
        :path => endpoint_recording_path(endpoint, 'error_message'),
        :download_path => endpoint_recording_path(endpoint, 'error_message', :filename => 'error_message.wav')
