- content_for :head do
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'
  = javascript_include_tag 'recordings'

#wami{:style => 'position: relative; left: 986px;'}
= yield

