- download_path ||= nil

%span.buttons{'data-path' => path }
  %button.frecording
  %button{:class => is_recorded ? 'fplay' : 'fplay disabled'}
  .fexport
    %input.fileupload{:type => 'file', 'data-url' => path, 'data-form-data' => {:method => :post}.to_json}
  = link_to '', download_path || path, {:class => is_recorded ? 'fimport' : 'fimport disabled'}
  = link_to '', path, :method => :delete, :class => is_recorded ? 'fdelete' : 'fdelete disabled', :remote => true