%h1 Calls
.filter
  = form_tag(nil, :method => :get) do |f|
    = label_tag :endpoint
    = select_tag :endpoint_id, options_from_collection_for_select(endpoints, :id, :name, params[:endpoint_id]), {:prompt => 'All Endpoints', :onchange => 'form.submit()'}
  - if endpoint
    = form_tag(nil, :method => :get) do |f|
      = hidden_field_tag :endpoint_id, params[:endpoint_id]
      = label_tag :form
      = select_tag :form_id, options_from_collection_for_select(forms, :id, :name, params[:form_id]), {:prompt => 'All Forms', :onchange => 'form.submit()'}
    
  .right
    = paginate calls
  .clear
.tablewrapp
  %table.GralTable
    %tr
      %th.w15 Date
      - if params[:form_id].present?
        - form.mappings.each do |name, path|
          %th= name.titleize
      - else
        %th Form
      - unless params[:endpoint_id].present?
        %th Endpoint
      %th Number
      %th Scheduled Time
      %th Status
    - calls.each do |call|
      %tr
        %td= fdate call.created_at
        - if params[:form_id].present?
          - values = form.map_from_xml call.data if call.data.present?
          - form.mappings.each do |name, path|
            %td= values[name] if values
        - else
          %td= call.form.name
        - unless params[:endpoint_id].present?
          %td= call.endpoint.try(:name)
        %td= call.phone
        %td= fdate call.not_before
        %td= call.status
    %tr.link{'data-url' => new_call_path({:endpoint_id => params[:endpoint_id], :form_id => params[:form_id]})}
      %td{:colspan => 100}
        %button.cadd Create Call
%br
%br
%br