%h1 Generate a new Call

= form_for(call) do |f|
  = errors_for call
  %br

  = f.label :endpoint_id
  %br
  = select_tag :endpoint_id, options_from_collection_for_select(endpoints, :id, :name, params[:endpoint_id]), {:prompt => "Select an Endpoint", :onchange => "$(document.body).load('#{calls_path}', $(this).serializeArray())", :class => "w30"}
  %br
  %br
  - if endpoint
    = f.label :form_id
    %br
    = f.collection_select :form_id, forms, :id, :name, {:prompt => 'Select a Form'}, {:onchange => "$(document.body).load('#{calls_path}', $('form').serializeArray())", :class => "w30"}
    %br
    %br
    
    - if call.form
      = f.label :phone
      %br
      = f.text_field :phone, :class => "w30"
      %br
      %br
  
      = f.fields_for(:fields) do |m|
        - if call.form
          - call.form.mappings.each do |name, xpath|
            = m.label name.titleize
            %br
            = m.text_field name, :class => "w30"
            %br
            %br
  
      %hr
  
      .bottom-actions
        %button.white Create call