= form_for(endpoint) do |f|
  = errors_for endpoint

  = f.label :name
  %br
  = f.text_field :name, :class => "w60"
  %br
  %br

  = f.label :callback_url, "Callback URL"
  %br
  = f.text_field :callback_url, :class => "w60"
  %br
  %br

  = f.label :schedule
  %br
  = f.collection_select :schedule, schedules, :name, :name, {:prompt => 'Select one'}, {:class => "w30"}
  %br
  %br

  = f.label :channel
  %br
  = f.select :channel, channels, {:prompt => 'Select one'}
  %br
  %br

  = f.label :time_zone, "Time Zone"
  %br
  = f.time_zone_select :time_zone, nil, {:default => "UTC"}, :class => "w30"
  %br
  %br

  = f.label :retry_count
  %br
  = f.select :retry_count, 0..9
  %br
  %br

  %hr

  .bottom-actions
    %button.white Save
    = link_to 'Discard', endpoints_path, :class => "tgrey"
    - unless endpoint.new_record?
      .right
        = link_to "Delete this Endpoint", endpoint_path(endpoint), :method => :delete, :confirm => "Are you sure you want to delete this endpoint? All forms associated with this endpoint will be deleted too.", :class => 'fdelete'