%h1 Endpoints
.tablewrapp.w60
  %table.GralTable.TwoColumn.CleanTable
    %tr
      %th My Endpoints
      %th
    - endpoints.each do |endpoint|
      %tr.link{'data-url' => edit_endpoint_path(endpoint)}
        %td
          = endpoint.name
          %span.grey= "(#{enqueue_url(:guid => endpoint.guid)})"
        %td
          %button.farrow{:type => "button"}
    %tr.add.link{'data-url' => new_endpoint_path}
      %td Create Endpoint
      %td
        %button.cadd{:type => "button"}
%br
%br
%br