= paginator.render do
  .pagination
    = prev_page_tag
    %input.w025{:id => "page_selector", :type => "text", :value => current_page}
    %span= "of #{num_pages}"
    = next_page_tag
:javascript
  $(document).ready(function() {
    $("#page_selector").keypress(function(e) {
      code = (e.keyCode ? e.keyCode : e.which);
      if (code == 13) {
        var page = $(this).val();
        var qs = '?#{params.except(:page).to_query}';
        window.location = qs + "&page=" + page;
      }
    });
  });