= content_for :head do
  = javascript_include_tag 'form'

= form_for(form) do |f|
  = errors_for form

  = f.label :name
  %br
  = f.text_field :name, :class => "w60"
  %br
  %br

  = f.label :endpoint
  %br
  = f.collection_select :endpoint_id, Endpoint.all, :id, :name, {:prompt => 'Select one'}, {:class => "w30"}
  %br
  %br

  = f.label :external_id, "External Identifier"
  %br
  = f.text_field :external_id, :class => "w30"
  %br
  %br


  = f.label :xml_file, "Source"
  - if form.file_date.present?
    %span.grey= "uploaded #{time_ago_in_words form.file_date} ago"
  - if form.file_name.present?
    %span= link_to "(#{form.file_name})", xml_form_path(form)
  %br
  = f.file_field :xml_file
  %br
  %br

  = f.label :mappings
  %br
  = f.hidden_field :mappings_str
  %ul#mappings.mclist.w40
    %li#mapping_template
      %span.arrowgrey
      %input.ux-mclist{:type => "text"}
      %button.mclist-remove
    %li#add_mapping
      %input#add_mapping_key.arrowinput{:type => "text", :placeholder => "Field name"}
      %input#add_mapping_value.ux-text{:type => "text", :placeholder => "Field source's xPath"}
      %button.mclist-add
  %br

  %hr

  .bottom-actions
    %button#submit_form.white Save
    = link_to 'Discard', forms_path, :class => "tgrey"
    - unless form.new_record?
      .right
        = link_to "Delete this form", form_path(form), :method => :delete, :confirm => "Are you sure you want to delete this form?", :class => 'fdelete'