%h1 Forms
.tablewrapp.w60
  %table.GralTable.TwoColumn.CleanTable
    %tr
      %th My Forms
      %th
    - forms.each do |form|
      %tr.link{'data-url' => edit_form_path(form)}
        %td= form.name
        %td
          %a.farrow{:type => "button"}
    %tr.add.link{'data-url' => new_form_path}
      %td Create Form
      %td
        %button.cadd{:type => "button"}
%br
%br
%br