@charset "utf-8";

/* ------------ User Menu ------------------- */
.avatar { width:65px; height:65px; text-align:center; margin:0 0 2px 0; padding:0 5px 0 0; border:none; display: table; position:relative }
.avatar span { display:block; position:absolute; margin:0px auto; width:65px; height:65px; z-index:1; box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2)inset; -moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.2)inset; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2)inset; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.avatar img { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }

.location { background:#555555 url(http://theme.instedd.org/theme/images/icons/18/white/location.png) no-repeat; color:#FFFFFF; padding:2px 3px 2px 16px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
#achannels { color:#555555 }

.mobile { background: url(http://theme.instedd.org/theme/images/icons/18/black/mobile.png) no-repeat left; padding-left:20px }
.message { background: url(http://theme.instedd.org/theme/images/icons/18/black/message.png) no-repeat left; padding-left:20px }
.twitter { background: url(http://theme.instedd.org/theme/images/icons/18/black/twitter.png) no-repeat left; padding-left:20px }
.phone { background: url(http://theme.instedd.org/theme/images/icons/18/black/phone.png) no-repeat left; padding-left:20px }

.gmobile { background: url(http://theme.instedd.org/theme/images/icons/18/grey/mobile.png) no-repeat left; padding-left:20px }
.gmessage { background: url(http://theme.instedd.org/theme/images/icons/18/grey/message.png) no-repeat left; padding-left:20px }
.gtwitter { background: url(http://theme.instedd.org/theme/images/icons/18/grey/twitter.png) no-repeat left; padding-left:20px }
.gphone { background: url(http://theme.instedd.org/theme/images/icons/18/grey/phone.png) no-repeat left; padding-left:20px }


/* ------------ eHalth classes ------------------- */
label { color:#555555 }
.filter { color:#555555; margin-bottom:8px }
.pagination { margin:0 }
.pagination span { color:#555555 }
.GralTable td { padding:8px 6px }
.GralTable button { margin:0 2px; vertical-align:top }
.GralTable a { margin:0; vertical-align:top }
.GralTable tr:hover td { background-color:#ededed}
.w025 { width:25px !important }
.grey { color:#999999 }
.alertorange { background:#fff0bd; color:#ff6602; padding:5px 3px; margin-bottom:8px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }

/* ------------ Custom Patches ------------------- */
.filter form { float: left; }
ul li { white-space: nowrap; }

.buttons div,
.buttons a,
.buttons button {
  margin: 0px;
  padding-top: 0px !important;
  vertical-align: middle;
}

.fexport {
  padding: 0 !important;
  overflow: hidden;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.fexport input {
  opacity: 0;
  width: 24px;
  height: 24px;
}