- content_for :navigation do
  = section "Forms", forms_path, :forms, [:forms, :form_recordings]
  = section "Endpoints", endpoints_path, :endpoints, [:endpoints, :endpoint_recordings]
  = section "Calls", calls_path, :calls
- content_for :right_menu do
  %ul.RightMenu
- content_for :footer_links do
  = link_to 'Forms', forms_path
  = link_to 'Endpoints', endpoints_path
  = link_to 'Calls', calls_path
= render :file => 'layouts/instedd_application'